.QuizContainer {
  box-shadow: 0 4px 20px rgb(162 162 162 / 28%);
  border-radius: 15px;
  overflow: hidden;
  height: fit-content;
  border: 1px solid #dee2e6;
}

.FullWidth {
  width: 100% !important;
  margin: 0 !important;
}